# Python connect to DataBase

In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('exampleSQL.db')

In [6]:
c = conn.cursor()

# write SQL in " "
c.execute('''
        CREATE TABLE stocks (
            date text,
            trans text,
            symbol text,
            qty real,
            price real
        ) 
    ''')

In [7]:
c.execute("INSERT INTO stocks VALUES('2006-01-05','BUY','RHAT',100,35.14)")
        
conn.commit() # ยัดที่ทำๆมาใส่ซะ

In [8]:
conn.close() # ปิดคร้าบบ

DBeaver ไว้เปิดไฟล์ .db ไปโหลดไป

In [12]:
conn = sqlite3.connect('exampleSQL.db')
cursor = conn.cursor()

cursor.execute("INSERT INTO stocks VALUES('2006-01-06','BUY','RHAT',100,35.14)")
cursor.execute("INSERT INTO stocks VALUES('2006-01-07','BUY','RHAT',100,35.14)")
cursor.execute("INSERT INTO stocks VALUES('2006-01-08','BUY','RHAT',100,35.14)")

for row in cursor.execute('SELECT * FROM stocks'):
    print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-06', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-07', 'BUY', 'RHAT', 100.0, 35.14)
('2006-01-08', 'BUY', 'RHAT', 100.0, 35.14)

In [13]:
conn.close()