## CSV File

In [ ]:
import csv

In [ ]:
villians = [
    ['Doctor','No'],
    ['Rosa','klebb'],
    ['Mister','Big'],
    ['Artrious','GOW'],
]

In [ ]:
with open('villians', 'wt') as fout:
    csvout = csv.writer(fout)
    csvout.writerows(villians)

In [ ]:
with open('villians','rt') as fin:
    cin = csv.reader(fin)
    villains2 = [row for row in cin]
    
villains2

อ่าน /n มาด้วยเลยติด [] มาทุกบรรทัด

## JSON

In [ ]:
menu = {
    "breakfast" : {
        "hours" : "7-11",
        "items" : {
            "breakfast burritos": "$6.00",
            "pancake": "$4.00"
        }
    },
    "lunch" : {
        "hours" : "11-3",
        "items" : {
            "hamburger": "$5.00"
        }
    },
    "dinner" : {
        "hours" : "3-10",
        "items" : {
            "spagetti": "$8.00"
        }
    }
}

In [ ]:
menu # menu is dictionary

In [ ]:
import json

In [ ]:
menu_json = json.dumps(menu)  #convert dict to json
menu_json

In [ ]:
type(menu_json)  # menu_json is string

In [ ]:
menu2 = json.loads(menu_json)  # convert json to dict
menu2

In [ ]:
type(menu2)

## Pandas

In [ ]:
import pandas

In [ ]:
data = pandas.read_csv("villians")
data # data is dataframe

In [ ]:
data['Doctor'][0]

## SQLite

In [ ]:
!conda install --yes sqlite

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('enterprise.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE zoo
    (critter VARCHAR(20) PRIMARY KEY, 
    count INT, 
    damages FLOAT)''')

In [ ]:
curs.execute('INSERT INTO zoo VALUES("duck", 5, 0.0)')
curs.execute('INSERT INTO zoo VALUES("tutrle", 2, 2.0)')

In [ ]:
ins = 'INSERT INTO zoo(critter, count, damages) VALUES(?, ?, ?)'

In [ ]:
curs.execute(ins, ('dinosaur', '1', '100.0'))

In [ ]:
curs.execute('SELECT * FROM zoo')
rows = curs.fetchall()
rows[0]

In [ ]:
rows

In [ ]:
curs.close()
conn.close()

## SQLAlchemy

In [ ]:
import sqlalchemy as sa

### Low Level as same as SQLite

In [ ]:
conn = sa.create_engine('sqlite://') # then work as cursurs but data in RAM
conn.execute('''CREATE TABLE zoo
    (critter VARCHAR(20) PRIMARY KEY, 
    count INT, 
    damages FLOAT)''')

In [ ]:
conn.execute('INSERT INTO zoo VALUES("duck", 5, 0.0)')
conn.execute('INSERT INTO zoo VALUES("tutrle", 2, 2.0)')

In [ ]:
rows = conn.execute('SELECT * FROM zoo')
for row in rows:
    print(row)

### Medium Level

In [ ]:
conn = sa.create_engine('sqlite://')
meta = sa.MetaData()
zoo = sa.Table('zoo', meta,
              sa.Column('critter', sa.String, primary_key=True),
               sa.Column('count', sa.Integer),
               sa.Column('count', sa.Float)
        )
meta.create_all(conn)

In [ ]:
conn.execute(zoo.insert(('bear', 22, 300.0)))
conn.execute(zoo.insert(('chicken', 23, 3000.0)))

In [ ]:
result = conn.execute(zoo.select())
result.fetchall()

### High Level

In [ ]:
from sqlalchemy.ext.declarative import declarative_base

In [ ]:
conn = sa.create_engine('sqlite:///zoo.db')
Base = declarative_base()

In [ ]:
class Zoo(Base):
    __tablename__ = 'zoo'
    critter = sa.Column('critter', sa.String(), primary_key=True)
    count = sa.Column('count', sa.Integer())
    damages = sa.Column('damages', sa.Float())
    
    def __init__(self, critter, count, damages):
        self.critter = critter 
        self.count = count 
        self.damages = damages
    def __repr__(self):
        return "<Zoo({}, {}, {})>".format(self.critter,self.count,self.damages)

Base.metadata.create_all(conn)

In [ ]:
first = Zoo("whale", 8, 600.0)
second = Zoo("fish", 9, 600.0)
third = Zoo("dobby", 7, 600.0)

In [ ]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind = conn)
session = Session()
session.add(first)
session.add_all([second,third])

In [ ]:
session.commit()

## MongoDB
ไปสร้าง Cluster ใน MongoDB Atlast + สร้าง database ให้เรียบร้อย + ก๊อปรหัส data มา

In [ ]:
!pip install mongoengine dnspython

In [1]:
from mongoengine import *

In [2]:
connect(alias = 'is766', host = 'mongodb+srv://Pailin:F7rM10TpPypycw8D@cluster0.ylvu9.mongodb.net/is766?retryWrites=true&w=majority')
# connect('อะไรก็ได้', 'link ใส่ username password databasenamw ให้เรียบร้อย')

MongoClient(host=['cluster0-shard-00-02.ylvu9.mongodb.net:27017', 'cluster0-shard-00-00.ylvu9.mongodb.net:27017', 'cluster0-shard-00-01.ylvu9.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7yd1po-shard-0', ssl=True, read_preference=Primary())

In [3]:
class User(Document):
    meta = {'db_alias' : 'is766'}
    email = StringField(required=True)
    first_name = StringField(max_lenqth=50)
    last_name = StringField(max_lenqth=50)
    
class Post(Document):
    title = StringField(max_length=120, required=True)
    author = ReferenceField(User) # author เก็บ user (ForeignKey)
    
    meta = {'db_alias' : 'is766',
            'allow_inheritance' : True}

In [4]:
pailin = User(email = "pailin@mail.com", first_name = "Pailin", last_name = "Lime")

In [5]:
pailin.save() # เข้าตาราง user ใน database อันโนมัติ (ตามชื่อ class)

In [6]:
p1 = Post(title = "My first Post")
p1.author = pailin

In [7]:
p1.save()

In [8]:
p2 = Post(title = "Second Post")
p2.author = User(email = "eiei@mail.com", first_name = "EIEI", last_name = "HAHA").save()
p2.save()

Get Doccument

In [9]:
for post in Post.objects():
    print(post.author.email)

Pailin
Pailin
Pailin
EIEI

In [16]:
for user in User.objects(first_name = "EIEI"):
    print(user.first_name)

EIEI

In [17]:
disconnect('is766')